<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0,minimum-scale=1,maximum-scale=1" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>jpush</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script> -->
    <style>
        .rotate{
            width: 100%;
            height: 250px;
            background: #3af;
            margin-top: 100px;
        }

        .horizontal-fixed {
            width:100%;
            position:fixed;
            top:0;
            background: #3af;
            -webkit-overflow-scrolling:touch;
            z-index:99999999;
        }
    </style>
</head>
<body>
    <h1>jpush</h1>
        <!-- <form action="/jpush" method="POST" > -->
            <div class="form-group">
                <label for="">标题</label>
                <input name='title' class="form-control" type="text">
            </div>
            <div>
                <label for="">内容</label>
                <input name='content' class="form-control" type="text">
            </div>
            <div>
                <label for="">透传内容</label>
                <input name='transmissionContent' class="form-control" type="text">
            </div>
            <div>
                <label for="">设置角标数</label>
                <input name='badge'  class="form-control" type="text">
            </div>
            <div class="center-block">
                <!-- <button type="submit" class="btn btn-lg btn-primary btn-block">提交</button> -->
                <input type='button' id="submit" class="btn btn-lg btn-primary btn-block" value="提交"> 
            </div>
        <!-- </form> -->
        <div class="rotate" id='weight_trendList'>
            <span onclick="rotate.changeDirection('horizontal')">横屏</span><span onclick="rotate.changeDirection('vertical')">竖屏</span>

        </div>
        <script src="./ajax.js"></script>
        <script>
            var rotate = {
                    direction:'vertical',
                    changeDirection:function (direction) { //改变横竖屏
                        if (direction == 'vertical') {
                            this.direction = 'horizontal';
                            // Toast('为了更好的体验，建议关掉手机自动旋转功能');
                            window.onresize = this.detectOrient;
                            this.detectOrient();
                        } else {
                            this.direction = 'vertical';
                            window.onresize = this.detectOrient;
                            this.detectOrient();
                        }
                    },
                    detectOrient:function () { //手机横竖屏旋转
                        var width = document.documentElement.clientWidth,
                        height =  document.documentElement.clientHeight,
                        $wrapper =  document.getElementById("weight_trendList"),
                        style = "";
                        var h = $wrapper.innerHeight
                        var w = $wrapper.innerWidth
                        if(height>width){ //系统竖屏
                            if( this.direction =='vertical' ){  //表格竖屏
                                style += "width:" + w + "px;";  // 注意旋转后的宽高切换
                                style += "height:" + h + "px;";
                                style += "-webkit-transform: rotate(0deg); transform: rotate(0deg);";
                                style += "-webkit-transform-origin: 0 0;";
                                style += "transform-origin: " + width / 2 + "px " + width / 2 + "px;";
                                $wrapper.className = 'rotate'
                            }else{ //表格横屏
                                style += "width:" + height+ "px;";
                                style += "height:" + width + "px;";
                                style += "-webkit-transform: rotate(90deg); transform: rotate(90deg);";
                                // 注意旋转中点的处理
                                style += "-webkit-transform-origin: " + width / 2 + "px " + width / 2 + "px;";
                                style += "transform-origin: " + width / 2 + "px " + width / 2 + "px;";
                                $wrapper.className = 'horizontal-fixed'
                            }
                            $wrapper.style.cssText = style;
                        }else{ //系统横屏时表格旋转0deg
                            style += "width:" + width+ "px;";
                            style += "height:" + height + "px;";
                            style += "-webkit-transform: rotate(0deg); transform: rotate(0deg);";
                            // 注意旋转中点的处理
                            style += "-webkit-transform-origin: " + width / 2 + "px " + width / 2 + "px;";
                            style += "transform-origin: " + width / 2 + "px " + width / 2 + "px;";
                            $wrapper.className = 'horizontal-fixed'
                            $wrapper.style.cssText = style;
                        }
                    },
            }
            document.getElementById('submit').onclick=function(){
                let title = document.querySelector('input[name=title]').value
                let content = document.querySelector('input[name=content]').value
                let transmissionContent = document.querySelector('input[name=transmissionContent]').value
                let badge = document.querySelector('input[name=badge]').value
                // let data = {title,content,transmissionContent,badge}
                // axios.post('/jpush',data).then((res)=>{
                    //     console.log(res)
                    // }).catch(e=>{
                //     console.log(e)
                // })
                let data = `title=${title}&content=${content}&transmissionContent=${transmissionContent}&badge=${badge}`
                ajax('POST','/jpush',data).then((res)=>{
                    console.log(res)
                }).catch(e=>{
                    console.log(e)
                })
            }
        </script>
    </body>
</html>